@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0A0908; 
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #0A0908;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #631625;
    color: white;
}

.block-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}

.column {
    width: 48%;
}

.column:first-child .block:nth-child(even),
.column:last-child .block:nth-child(odd) {
    background-color: #CF6C42;
    color: #0A0908;
}

.column:first-child .block:nth-child(even) a,
.column:last-child .block:nth-child(odd) a {
    color: #631625;
}

.column:first-child .block:not(:nth-child(even)) a,
.column:last-child .block:nth-child(even) a {
    color: #CF6C42;
}

.block {
    background-color: #631625;
    border-radius: 15px;
    margin-bottom: 0; /* Remove bottom margin for blocks */
    padding: 5%;
    color: #FFFFFF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.block h2 {
    margin-top: 0;
    font-weight: 700;
}

.block img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.block p {
    margin-bottom: 10px;
}

.block a {
    color: #ff3131;
}

.block a:hover {
    text-decoration: underline;
}

.divider {
    height: 2px; /* Adjust height as needed */
    background-color: #FFFFFF; /* Same color as the topnav */
    margin: 0; /* Adjust margin as needed */
}
