body{
    background-color: lightgray;
}
.row{
    display: flex;
    width: 1440px;
    background-color: white;
    margin: 30px auto;
}

.row > div{
    margin: 10px;
    flex: 1;
    text-align: center;
    background-color: lightblue;
}