body{font-family: Arial, Helvetica, sans-serif; color: blue;}
h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: chartreuse;}
body {
    margin: 0;
    padding: 0;
}
main{
    margin: 3em auto;
    max-width: 56em;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid > div {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 10px;
  flex: 1 1 200px;
}